body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(180deg, #eef2ff, #f8fafc);
}

/* ШАПКА */
h1 {
    background: linear-gradient(90deg, #2563eb, #06b6d4);
    color: white;
    padding: 35px 20px;
    text-align: center;
    margin: 0;
    font-size: 34px;
}

/* ПОДЗАГОЛОВКИ */
h2 {
    color: #1e3a8a;
    border-left: 6px solid #2563eb;
    padding-left: 10px;
    margin-top: 40px;
}

/* ТЕКСТ */
p {
    font-size: 18px;
    line-height: 1.6;
}

/* СПИСКИ УСЛУГ */
ul {
    background: white;
    padding: 20px 25px;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}

li {
    margin-bottom: 10px;
    font-size: 18px;
}

/* ОТСТУПЫ */
body > *:not(h1) {
    max-width: 950px;
    margin: auto;
    padding: 20px;
}

/* ФОТО */
img {
    margin: 10px;
    border-radius: 12px;
    box-shadow: 0 8px 18px rgba(0,0,0,0.15);
    transition: 0.3s;
}

img:hover {
    transform: scale(1.05);
}
.call {
    display: inline-block;
    background: #22c55e;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}

.call:hover {
    background: #16a34a;
}
.contacts {
    text-align: center;
    margin-top: 20px;
}

.contacts h3 {
    margin-bottom: 15px;
}
/* Главный экран */
.hero {
    background: linear-gradient(rgba(15,23,42,0.7), rgba(15,23,42,0.7)),
    url("images/work1.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 90px 20px;
}

.subtitle {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.mainbtn {
    background: #22c55e;
    color: white;
    padding: 16px 28px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.mainbtn:hover {
    background: #16a34a;
}
.tg-buttons {
    text-align: center;
    margin-top: 10px;
}

.tg {
    display: inline-block;
    background: #229ED9;
    color: white;
    padding: 14px 24px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
    margin: 5px;
}

.tg:hover {
    background: #1b8abf;
}
